SUNAT_LOGIN_URL=
SUNAT_RUC=
SUNAT_USER=
SUNAT_PASSWORD=
HEADLESS=false
SLOW_MO_MS=250
LOGIN_SUCCESS_URL_CONTAINS=e-menu.sunat.gob.pe
FLASK_HOST=127.0.0.1
FLASK_PORT=8000
SUNAT_REFRESH_URL=
SUNAT_REFRESH_CLIENT_ID=
SUNAT_REFRESH_CLIENT_SECRET=
